body
{
    background: #CCCCCC;
}
.bloqueUno{
    width: 90%;
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
}
.bloqueUno .imagenLogo{
    width: 50%;
    float: left;
}
.imagenLogo2{
    width: 40%;
    height: auto;
}
.bloqueUno .headerMenu{
    width: 50%;
    overflow: hidden;
}
nav{
    position: absolute;
    top: 110px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
}
.bloqueDos{
    width: 90%;
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
}
.bloqueDos .imagenBarberia{
    width: 100%;
}
.imagenBarberia #dec{
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.bloqueDos .Principal{
    width: 100%;
}
.utensilios{
    width: 10%;
    height: auto;
    float: left;
    box-sizing: border-box;
    margin: 20px;
}
.titulo2{
    text-align: center;
    font-size: 50px;
    margin: 30px;
}
.texto{
    font-size: 25px;
    margin: 10px;
    word-spacing: 3px;
    line-height: 25px;
}
.fuerte2{
    font-family: cursive;
}
.bloqueDos .Diferenciales{
    width: 100%;
}
.titulo3{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.mapa{
    padding: 10px;
}
.Diferenciales .itemsDiferenciales{
    width: 40%;
    float: left;
    position: relative;
    left: 10%;
    margin: 25px 0 0 0;
}
.items{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.fuerte3{
    font-family: cursive;
}
.Diferenciales .imgDiferencial{
    width: 40%;
    float: left;
    position: relative;
    left: 10%;
    margin: 25px 0 0 0;
}
.Diferenciales .imagenDiferencial{
    width: 100%;
    height: auto;
}
.imagenDiferencial{
    margin: 0 20px;
}
.footer
{
    text-align: center;
    background: url(Imgenes/bg.jpg);
    padding: 40px;
}
.footer .imagenPie{
    width: 10%;
    height: auto;
}
.piedePagina
{
    color: #fff;
    margin: 20px;
}